.bg-header{
    position: relative;
    background-color: #7b8e8e;
    height: 20vh;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../../images/bg-header-desktop.svg) no-repeat 50% / cover;
}

.attribution {
    font-size: 1rem;
    text-align: center;
}
