@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.dark {
  background-color: #233342;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

